<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DS3Doc.Token" value="AuUEwKZhgyywc4yZ9dXxavDc"/>
    <add key="DS3Doc.ServiceURL" value="http://devel.digitalshare.com.br/pt-BR/api/v1/"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="true" proxyaddress="http://localhost:8888" bypassonlocal="true" />
    </defaultProxy>
  </system.net>
</configuration>