<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiserver" value="http://192.168.15.12:3005/pt-BR/api/v1/"/>
    <add key="token" value="a43946271c6ac657504f8a44cab036ac"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
